<% layout('/layouts/boilerplate') %>
    <link rel="stylesheet" href="/styles/css/app.css">
    <div id="cluster-map" class="mb-3"></div>
    <h1>Campgrounds</h1>

    <% for(let campground of campgrounds) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.images.length){ %>
                        <img src="<%= campground.images[0].url %> " alt="" class="img-fluid">
                        <% }else{ %>
                            <img src="https://res.cloudinary.com/ssillah/image/upload/v1617141643/YelpCamp/rskoblzmeteseyv2ogbs.jpg"
                                alt="" class="img-fluid">
                            <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.name %>
                        </h5>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= campground.location %>
                            </small>
                        </p>
                        <a href="/campgrounds/<%= campground._id %> " class="btn btn-primary">
                            View <%= campground.name %> </a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

            <% if (pages> 0) { %>
                <ul class="pagination text-center">
                    <% if (current==1) { %>
                        <li class="page-item disabled"><a class="page-link">First</a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="/campgrounds/page/1">First</a></li>
                            <% } %>
                                <% var i=(Number(current)> 5 ? Number(current) - 4 : 1) %>
                                    <% if (i !==1) { %>
                                        <li class="disabled"><a>...</a></li>
                                        <% } %>
                                            <% for (; i <=(Number(current) + 4) && i <=pages; i++) { %>
                                                <% if (i==current) { %>
                                                    <li class="page-item active"><a a class="page-link">
                                                            <%= i %>
                                                        </a></li>
                                                    <% } else { %>
                                                        <li class="page-item"><a class="page-link"
                                                                href="/campgrounds/page/<%= i %>">
                                                                <%= i %>
                                                            </a></li>
                                                        <% } %>
                                                            <% if (i==Number(current) + 4 && i < pages) { %>
                                                                <li class="disabled"><a>...</a></li>
                                                                <% } %>
                                                                    <% } %>
                                                                        <% if (current==pages) { %>
                                                                            <li class="page-item disabled"><a
                                                                                    class="page-link">Last</a></li>
                                                                            <% } else { %>
                                                                                <li class="page-item"><a
                                                                                        class="page-link"
                                                                                        href="/campgrounds/page/<%= pages %>">Last</a>
                                                                                </li>
                                                                                <% } %>
                </ul>
                <% } %>

                    <script>
                        const mapToken='<%-process.env.MAPBOX_TOKEN%>';
                        const campgrounds={ features: <%- JSON.stringify(campgrounds)%>};
                    </script>
                    <script src="/scripts/indexClusterMap.js"></script>


                    <!-- located at 
                    <a href="/campgrounds/ ">Show more</a> -->